body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
}

nav {
  background: transparent;
  height: 80px;
  width: 100%;
}

label.logo {
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
nav a:hover {
  background: white;
  border-bottom: 3px solid #f46c54;
  border-radius: 10px;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}



@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: black;
  }

  #check:checked~ul {
    left: 0;
  }
}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}


.hero-body {
  /* background: linear-gradient(to bottom, transparent 0%,  rgba(0,0,0,0.9) 100%); */
  background-image: url(./src/background-g51ddd6e57_1280.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment:fixed; 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: #f46c54;
}

.content {
  max-width: 50%;
  align-items: center;
  text-align: center;
}

.content div {
  padding: 0 2.5em;
}

.hero-body h1 {
  color: #f46c54;
  margin: 0;
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero-body p {
  color: #f47c61
  ;
  font-size: 30px;

}


.btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;
  
  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  
  /* Text styles */
  color: #f47c61
  ;
  text-decoration: none;
  font-size: 20px;
  
  /* Border styles */
  border: 3px solid #ef7661; 
  border-radius: 20px;
}

.btn:hover {
color: #f0421b;
background: transparent;
}


/* about me 2 */
.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(210deg, #ef7661
  0%, #ef7661 25%, #ef7661 100%);
  background-size: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: cont 10000ms ease-in-out infinite alternate;
}
@keyframes cont {
  from {
    background-position: top left;
  }
  to {
    background-position: bottom right;
  }
}
.portfolio-card {
  width: 70%;
  max-height: 50%;
  background: linear-gradient(to left, #ef7661, #f1a492);
  border-radius: 0.5em;
  /* box-shadow: 0.125em 0.125em 10em #616161; */
  padding: 1em;
  border: 2px solid #ffd6cf;
  color: #f1f1f1;
}
.portfolio-card-1 {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #fff3;
}
.portfolio-card-1-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-card-1-col img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background: #f1f1f1;
  border: 6px solid rgb(247, 229, 229);
  box-shadow: 0.125em 0.125em 0.5em rgba(249, 242, 242, 0.45);
}
.portfolio-card-1-col-2 {
  width: 50%;
}
.portfolio-card-1-col-2 h2 {
  font-size: medium;
}
.portfolio-card-1-col-2 p {
  text-align: justify;
}
.portfolio-card-2 {
  padding-top: 1em;
  display: flex;
  align-items: center;
}
.portfolio-card-2 span {
  text-transform: uppercase;
  width: 50%;
  text-align: center;
}
.portfolio-card-2-icons {
  display: flex;
  width: 50%;
  justify-content: space-around;
  /*   grid-template-columns: repeat(5, 1fr); */
  /*   grid-gap: 1em; */
  /*   place-items: center; */
}
.portfolio-card-2-icons i {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f1f1f1;
  color: #f1f1f1;
  box-shadow: 0.025em 0.025em 0.15em rgba(0, 0, 0, 0.45);
}
.portfolio-card-2-icons [class*="fa-instagram"] {
  background: #ef7661;
}
.portfolio-card-2-icons [class*="fa-telegram"] {
  background: #ef7661;
}
.portfolio-card-2-icons [class*="fa-envelope"] {
  background: #ef7661;
}
.portfolio-card-2-icons [class*="fa-linkedin"] {
  background: #ef7661;
}
.portfolio-card-2-icons [class*="fa-twitter"] {
  background: #ef7661;
}
.portfolio-contact-part {
  display: none;
}
.viewport {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: larger;
}
/*======Media  Queries======*/
@media screen and (max-width: 768px) {
  .portfolio-card-1 {
    flex-direction: column;
  }
  .portfolio-card-1-col,
  .portfolio-card-1-col-2 {
    width: 100% !important;
  }
  .portfolio-card {
    padding: 0.25em;
    max-height: 90%;
  }
  .portfolio-card-1-col-2 h2 {
    text-align: center;
  }
  .portfolio-card-2 {
    flex-direction: column;
  }
  .portfolio-card-2-icons,
  .portfolio-card-2 span {
    width: 70% !important;
    margin: 0.5em 0;
  }
}
@media screen and (max-width: 360px) {
  body :not(.viewport) {
    display: none;
  }
  .viewport {
    display: block !important;
  }
}

/* portfolio gallery*/

.header {
  text-align: center;
  padding: 32px;
  color: #f47c61 ;
}
.header p {
  color: black;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: center;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

