body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;

}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-family: Jeanne-Moderno;
  color: #446038;
}

/* NAVIAGTION */
nav {
  background: transparent;
  height: 80px;
  width: 100%;
}

.logo img {
  height: 80px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav li a:hover {
  color: #57745a;
  border-bottom: 3px solid #57745a
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: black;
  }

  #check:checked~ul {
    left: 0;
  }
}

/* hero */
.hero-section {
  background-image: url('./src/Hero_Wild_Design_by_Magdalena_Coeur_d-Alene_2_small_size.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  /* You may want to adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  /* Add this line to make it take up the entire width */
}

.container {
  /* max-width: 1200px; */
  padding: 0 20px;
  margin: 0 auto;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 8px;
  margin-top: 25px;
  color: #57745a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: Jeanne-Moderno;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.cta-btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  /* margin-top: 20px; */
}

.cta-btn:hover {
  background-color: #57745a;
  color: #fff;
}

/* Clients section */
#clients {
  padding: 40px 0;
  background-color: #f9f9f9;
}

#clients h2 {
  text-align: center;
  color: #446038;
  margin-bottom: 40px;
  font-size: 2em;
  font-weight: 600;
}

.client {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.client-images {
  flex: 1;
  min-width: 300px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.client-details {
  flex: 2;
  min-width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

.client-header-image,
.client-description-image {
  max-width: 100%;
  height: auto;
}

.client-text {
  margin-top: 20px;
}

.client-text h3 {
  margin-top: 0;
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.client-text p {
  color: #666;
  line-height: 1.6;
}

.client-text a {
  color: #446038;
  text-decoration: underline;
}

.client-text a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .client {
    flex-direction: column;
  }

  .client-images,
  .client-details {
    min-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .hero-section {
    height: 80vh;
  }

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .cta-btn {
    font-size: 1rem;
    padding: 8px 16px;
  }
}


/* about me section */
/* Global Styles */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/* About Section Styles */
.about-section {
  padding: 20px 0;

}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-text {
  flex: 1 1 55%;
  max-width: 600px;
  margin-right: 50px;
}

.about-text h2 a {
  font-size: 2.5rem;
  color: #57745a;
  margin-bottom: 30px;
  font-family: Jeanne-Moderno;
}


.about-text p {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 20px;
}

.social-media-icons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #57745a;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.social-icon:hover {
  background-color: #777;
  color: #404c3c;
}

.about-image {
  flex: 1 1 40%;
  max-width: 400px;
  margin-top: 20px;
}

.image-container {
  position: relative;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #333;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 30px;
  margin-top: 30px;
}

.portfolio-btn:hover {
  background-color: #57745a;
  color: #333;
}

@media screen and (max-width: 991px) {
  .about-content {
    flex-direction: column;
  }

  .about-text {
    margin-right: 0;
    margin-bottom: 40px;
    text-align: center;
  }

  .about-image {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .about-text {
    flex: 1 1 100%;
    margin-right: 0;
  }

  .social-media-icons {
    justify-content: center;
  }
}


/* Gallery version 2 */
.gallery {
  padding: 10px 0;
  /* background-color: #f5f5f5; */

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.gallery h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #57745a;
  font-family: Jeanne-Moderno;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;

}

.gallery-grid a {
  display: block;
  position: relative;
  overflow: hidden;
}

.gallery-grid img {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.gallery-grid .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(47, 79, 64);
  color: #fff;
  padding: 20px;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.gallery-grid h3 {
  font-size: 1.2rem;
  margin: 0;
}

.gallery-grid a:hover img {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.gallery-grid a:hover .overlay {
  transform: translateY(0%);
}


/* services version 2 */
#services {
  /* background-color: #f7f7f7; */
  padding: 20px 0;
}

#services h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #57745a;
  font-family: Jeanne-Moderno;
}

.service-box {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.service-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
}

.service-icon {
  font-size: 60px;
  color: #444;
  margin-bottom: 30px;
}

.service-icon i {
  padding: 15px;
  border-radius: 50%;
  background-color: #57745a;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.service-box:hover .service-icon i {
  transform: rotate(360deg);
}

.service-box h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: Jeanne-Moderno;
}

.service-box p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .service-box {
    padding: 30px;
  }

  #services h2 {
    font-size: 30px;
  }

  .service-icon {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .service-box h3 {
    font-size: 20px;
  }

  .service-box p {
    font-size: 14px;
  }
}



/* footer */
/* Footer */
footer {
  background-color: #F5F5F5;
  padding: 50px 0;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.footer-column {
  width: 33.33%;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-column h3 {
  color: #8a9e8c;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-column p {
  color: whitesmoke;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  color: whitesmoke;
}

.bottom-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.bottom-footer p {
  margin: 0;
}

/* PROJECTS/AWARDS */
.container {
  padding: 60px 0;
  text-align: center;
}

.container p {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 20px;
}

.project-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* background-color: #d1e8d372; */
}

.project-card {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 45%;
  /* Adjust the width as needed */
}

.project-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card img {
  max-width: 100%;
  height: 300px;
  /* Set the height to the desired size */
  object-fit: cover;
  /* Maintain aspect ratio and cover the whole area */
  border-radius: 5px;
}

.project-info h3 {
  font-size: 1.2em;
  margin-top: 10px;
  color: #446038;
}

.project-info p {
  font-size: 0.9em;
  color: #666;
  line-height: 1.4;
}

.about-text p {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 20px;
}

/* divider */
.divider {
  border: none;
  border-top: 2px solid #ccc;
  /* Adjust the color and thickness as desired */
  margin: 20px auto;
  /* Adjust the margin to position the divider */
  width: 80%;
  /* Adjust the width of the divider */
}

/* Media Queries */

@media (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    text-align: left;
  }

  .footer-column {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .footer-column h3 {
    margin-top: 0;
  }
}

/* footer v 2 */
footer {
  background-color: #404c3c;
  padding: 50px 0;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 40px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.links-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  width: 33%;
  padding-right:
}

@media only screen and (max-width: 600px) {
  .footer-column h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

/* mailto section  */
/* default styles */
a {
  color: #000;
  text-decoration: none;
}

/* styles for email link */
a[href^="mailto:"] {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a[href^="mailto:"]:hover {
  background-color: #57745a;
}

/* media query for smaller screens */
@media only screen and (max-width: 600px) {
  a[href^="mailto:"] {
    font-size: 16px;
    padding: 8px 16px;
  }
}